$color-white: #ffffff;

$color-primary: #212353;

$color-secondary: #4b5d68;

$color-purp: #9c69e2;

$color-purp-light: #f5f0fc;

$color-hr: #ebe1f9;

$color-pink: #f063b8;

$color-pink-light: #fdeff8;

$color-teal: #f0faf8;

$color-blue: #eaf5fb;
