button {
  border-radius: 50px;
  border: none;
  font-family: 'Lato', sans-serif;

  &:hover {
    cursor: pointer;
  }
}

.nav__request-demo,
.features__request-demo {
  margin-right: 2rem;
  color: $color-primary;
  background-color: $color-white;
  box-shadow: 0px 5px 5px 0px #4b5d681a;

  font-size: 1.2rem;
  padding: 1rem 2rem;
  font-weight: 700;
  letter-spacing: 0.5px;

  @include respond(small-desktop) {
    font-size: 1.6rem;
  }
}

.hero__cta,
.features__cta {
  color: $color-white;
  font-size: 1.2rem;
  padding: 1rem 3rem;
  font-weight: 700;

  @include respond(small-desktop) {
    font-size: 1.6rem;
  }
}

.hero__cta {
  background-color: $color-purp;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  @include respond(small-desktop) {
    left: 0;
    transform: translateX(0);
  }
}

.features__cta--primary {
  background-color: $color-pink;
}
