.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  width: 100%;

  &__ham-menu {
    & div {
      display: block;
      background-color: $color-primary;
      width: 2rem;
      height: 2px;
      position: relative;
      border-radius: 50px;

      &::before,
      &::after {
        display: block;
        content: '';
        width: 2rem;
        height: 2px;
        background-color: $color-primary;
        position: absolute;
        border-radius: 50px;
      }

      &::before {
        top: 5px;
      }

      &::after {
        top: -5px;
      }
    }

    @include respond(small-desktop) {
      display: none;
    }
  }

  &__left {
    @include respond(small-desktop) {
      display: flex;
      justify-content: space-between;
      width: 50%;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    display: none;

    & li {
      &:hover {
        cursor: pointer;
        color: $color-primary;
        font-weight: 700;
      }
    }

    @include respond(small-desktop) {
      display: flex;
      justify-content: space-evenly;
      width: 75%;
    }
  }
}
