.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;

  &__logo {
    height: 2.5rem;
    width: 3rem;
  }

  &__ham-menu {
    & div {
      display: block;
      background-color: black;
      width: 2rem;
      height: 3px;
      position: relative;

      &::before,
      &::after {
        display: block;
        content: '';
        width: 2rem;
        height: 3px;
        background-color: black;
        position: absolute;
      }

      &::before {
        top: 5px;
      }

      &::after {
        top: -5px;
      }
    }
  }

  &__list {
    list-style: none;
    display: flex;
    display: none;
  }
}
