body {
  font-family: Helvetica, Arial, sans-serif;
}

h1,
h2 {
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-weight: 400;
  font-size: 2rem;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;

  font-size: 1.6rem;
  color: $color-secondary;
}

.hero {
  &__heading {
    color: $color-primary;
    font-size: 5rem;
    line-height: 1.1;
  }

  &__p {
    color: $color-secondary;
    margin: 5vh 0;
  }
}

.about {
  &__heading {
    font-size: 2.5rem;
    color: $color-primary;
  }
}

.features {
  &__heading,
  &__h3 {
    color: $color-primary;
  }

  &__heading {
    text-align: center;
  }

  &__btn,
  &__arrow {
    font-size: 1.6rem;
  }
}
